.button {
  display: inline-block;
  padding: 14px 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: $border-radius;
  background-color: transparent;
  border: 1px solid $primary-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  outline: none;
  transition-duration: $transition-duration;
  transition-property: background-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color;
    transition-duration: $transition-duration;
    transition-property: background-color;
  }
}

.button-ghost {
  min-width: 277px;
  height: 53px;
  border-radius: $border-radius;
  border: solid 2px $primary-color;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  letter-spacing: 3.2px;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(0, 52, 96, 0.7);
  }
}

.button-primary {
  background-color: $primary-color;

  &:hover,
  &:focus,
  &:active {
    background-color: #ba7b2a;
    border-color: #ba7b2a;
  }

  &.no-focus {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.button-secondary {
  display: block;
  background-color: $secondary-color;
  margin: auto;
  width: 178px;
  height: 53px;
  border-radius: $border-radius;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3.2px;
  color: $text-color-white;
  transition-property: background-color;
  transition-duration: $transition-duration;

  &:focus,
  &:hover,
  &:active {
    background-color: $button-secondary-hover-bg;
    transition-property: background-color;
    transition-duration: $transition-duration;
  }
}

.default-button {
  display: none;
  align-items: center;
  border: 2px solid #fff;
  pointer-events: none;

  svg {
    flex-shrink: 0;
    width: 16px;
    height: 22px;
    margin-right: 18px;
  }

  @include tablet {
    display: flex;
  }
}

.button-apply {
  position: fixed;
  z-index: 10;
  min-width: 100%;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  height: 70px;
  border-radius: 0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  transition: all $transition-duration;

  &.hidden {
    z-index: -1;
    opacity: 0;
    transition: all $transition-duration;
  }

  @include tablet {
    position: static;
    text-align: center;
    vertical-align: middle;
    border-radius: $border-radius;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding: 17px 32px;
    min-width: 178px;
    height: 53px;
    box-shadow: none;
  }
}

.button-section-scroll {
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 1s;

  &:hover {
    transform: translateY(20px);
    transition-property: transform;
    transition-duration: 1s;
  }

  @include tablet {
    margin-top: 32px;
  }

  svg {
    width: 30px;
    height: 30px;
    color: #fff;

    @include tablet {
      width: 70px;
      height: 70px;
    }
  }
}

.button-request {
  display: none;

  @include tablet {
    display: block;
  }
}
