// stylelint-disable scss/dollar-variable-empty-line-before

// Fonts
$font-family: "Effra", sans-serif;
$font-weight: 400;
$font-size: 16px;

// Colors
$text-color: #4e4642;
$primary-color: #f8971d;
$secondary-color: #00467f;
$text-color-white: #ffffff;

// Text
$section-title-font-size: 50px;

// Border-radius10345d
$border-radius: 31px;

// Transitions
$transition-duration: 0.3s;

// Border
$border-color: #fff;

// Controls
$button-secondary-hover-bg: #10345d;
